h1{
    text-align: center;
}

ul{
    list-style-type: none;
    margin:0;
    padding: 0;
    overflow: hidden;
    background-color: #1d4d7c;
}

li{
    float: left;
    font-size: 22px;
}

li a{
    display: block;
    color: aliceblue;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: rgb(8, 8, 125);
}